@import "components/variables.scss";

.encabezado {
    background-color: $color-standar;
    color: $letra;
    width: 100%;
    position: fixed;
    padding: 10px;
    z-index: 200;

    h1{
        margin: 0;
        user-select: none;
    }
}

.p{
    display: flex;
    position: fixed;
    border-radius: 2px 2px 2px 2px;
    background-color:$color-standar;
    height: 200px;
    width: 30px;
    top:100px;
    left: -10px;
    z-index: 10;
}

.p2 {
    display:flex;
    position: fixed;
    border-radius: 0px 10px 10px 0px;
    height: 200px;
    width: 50px;
    background-color: $color-standar;
    top:100px;
    left: 25px;
}