@import "components/variables.scss";

.encabezado {
    background-color: $color-standar;
    color: $letra;
    width: 100%;
    position: fixed;
    padding: 10px;
    z-index: 200;

    h1{
        margin: 0;
        user-select: none;
    }
}

.p{
    display: flex;
    position: fixed;
    border-radius: 2px 2px 2px 2px;
    background-color:$color-standar;
    height: 200px;
    width: 30px;
    top:100px;
    left: -28px;
    z-index: 10;
}

.p2 {
    display:flex;
    position: fixed;
    border-radius: 0px 10px 10px 0px;
    height: 200px;
    width: 50px;
    background-color: $color-standar;
    top:100px;
    left: 5px;
    z-index: 10;
    align-items: center;
    justify-items: center;
    transition: left 0.3s;
    .arrow{
        display: flex;
        height: 30px;
        width:30px;
        z-index: 20;
        margin:auto;
        transition: all 0.3s;
        border: 3px solid $letra;
        align-items: center;
        justify-items: center;
        border-radius: 7px 7px 7px 7px;
        button{
            clip-path: polygon(100% 50%, 0 0, 0 100%);
            position: absolute;
            background: $letra;
            height: 15px;
            width:15px;
            z-index: 20;
            margin:0 auto;
            transition: all 0.1s;
            outline: none;
            border: none;
            left: 17px;
            cursor: pointer;
        }
        .n2 {
            position: absolute;
            clip-path: polygon(0 50%, 100% 100%, 100% 0);
            background: $letra;
            height: 15px;
            width:15px;
            margin:0 auto;
            transition: all 0.1s;
            outline: none;
            border: none;
            z-index: 20;
            cursor: pointer;
        }

        &:active {
            border-color: lightgray;
            button {
                background: lightgray;
            }
        }
    }
}

.buscador {
    display: flex;
    height: 180px;
    background-color: $partes_oscuras;
    position: fixed;
    width: 300px;
    top: 110px;
    left: -280px;
    align-items: stretch;
    padding: 30px;
    padding-left: 100px;
    transition: all 0.3s;
    z-index: 2;
    input {
        width: 130px;
        height: 40px;
        outline: none;
        border-radius: 10px 10px 10px 10px;
        padding: 4px;
        transition: box-shadow 0.2s;

        &:focus {
            box-shadow: lightgray 0px 0px 2px;
        }
        &::placeholder {
            user-select: none;
        }
    }
}

.lucecita {
    background-color: rgb(209, 221, 99);
}

.colapso {
    left: -80px;
}

.colapso-bt {
    left: 205px;
}
.eliminado{
    display: none;
}

.invisible {
    opacity: 0;
    z-index: 1;
}

.gallery {
    display: grid;
    position: relative;
    grid-template-rows: repeat(auto-fill,minmax(250px,1fr));
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
    grid-auto-rows: repeat(auto-fill,minmax(250px,1fr));
    grid-auto-columns: repeat(auto-fill,minmax(180px,1fr));
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    z-index: 1;
    top: 60px;
    padding: 20px;
    padding-left:60px;
}

.ficha {
    display: flex;
    border-radius: 10px 10px 10px 10px;
    border: 5px double $color_fichas;
    flex-direction: column;
    background-color: $partes_oscuras;
    box-sizing: content-box;
    transition: all 0.3s;
    .nombre {
        height: 20%;
        background-color: $color_fichas;
        text-align: center;
        text-justify: center;
        user-select: none;
        padding-top: 7%;
        transition: all 0.3s;
    }
    .pokemon {
        box-sizing: content-box;
        object-fit: contain;
        width: 100%;
        height: 40%;
        border-radius: 10px 10px 10px 10px;
    }
}

.descripcion {
    background-color: $color_fichas;
    box-sizing: content-box;
    user-select: none;
    text-align: center;
    padding: 20px 10px;
    height: 40%;
    transition: all 0.3s;
}

.finvisible {
    opacity: 0;
}

.invisible {
    display: none;
}

.sobre {
    z-index: 1000;
    box-shadow: 5px 5px 0px black;
    position: relative;
    left: -5px;
    top: -5px;
}

.sobre-color {
    background-color:rgb(245, 41, 41);
}

.sobre-color-borde {
    border: 5px double rgb(245, 41, 41);
}