.encabezado {
  background-color: #db4b4b;
  color: white;
  width: 100%;
  position: fixed;
  padding: 10px;
  z-index: 200; }
  .encabezado h1 {
    margin: 0;
    user-select: none; }

.p {
  display: flex;
  position: fixed;
  border-radius: 2px 2px 2px 2px;
  background-color: #db4b4b;
  height: 200px;
  width: 30px;
  top: 100px;
  left: -10px;
  z-index: 10; }

.p2 {
  display: flex;
  position: fixed;
  border-radius: 0px 10px 10px 0px;
  height: 200px;
  width: 50px;
  background-color: #db4b4b;
  top: 100px;
  left: 25px;
  z-index: 10;
  align-items: center;
  justify-items: center; }
  .p2 .arrow {
    display: flex;
    height: 30px;
    width: 30px;
    z-index: 20;
    margin: auto;
    transition: all 0.3s;
    border: 3px solid white;
    align-items: center;
    justify-items: center;
    border-radius: 7px 7px 7px 7px; }
    .p2 .arrow div {
      clip-path: polygon(100% 50%, 0 0, 0 100%);
      background: white;
      height: 15px;
      width: 15px;
      z-index: 20;
      margin: 0 auto;
      transition: all 0.1s; }
    .p2 .arrow:active {
      border-color: lightgray; }
      .p2 .arrow:active div {
        background: lightgray; }
